@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2D194, #f2ac6e);
}

main {
    background-color: #F2E3D5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9e7149c3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #402116;
    text-align: center;
    text-shadow: 1px 1px 2px #1f100b92;
}

h2 {
    color: #BF7960;
}

p {
    text-align: justify;
}