@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/*principal*/
html,
body {
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;

}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;

}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(69, 69, 69);
    color: white;
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.268);
    width: 500px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}